.dashboard-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-primary {
  background: #ff7a59;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #d54e2d;
}

.error {
  color: red;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.search-bar {
  flex: 4;    /* 3 parts */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.sort-dropdown {
  flex: 2;   /* 2 parts */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f5f5f5;
}

td, th {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.url-cell {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-small {
  padding: 6px 10px;
  margin: 3px;
  background: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-danger {
  padding: 6px 10px;
  margin: 3px;
  background: #d63031;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-info {
  padding: 6px 10px;
  margin: 3px;
  background: #0984e3;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
