/* MAIN LAYOUT */
.register-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f5f7ff;
  font-family: 'Poppins', sans-serif;
}

/* LEFT PANEL */
.left-panel {
  flex: 1.2;
  background: linear-gradient(135deg, #ffb06b, #ff7a59);
  color: white;
  padding: 70px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 80px;
}

.left-panel h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.left-panel p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 30px;
}

/* ILLUSTRATION */
.illustration-img {
  width: 90%;
  position: absolute;
  right: -40px;
  bottom: 0;
  max-height: 90%;
  object-fit: contain;
  pointer-events: none;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* FORM BOX */
.form-box {
  width: 80%;
  max-width: 420px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
}

.form-box h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

/* INPUTS */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 15px;
  transition: 0.3s;
}

form input:focus {
  border-color: #ff7a59;
  outline: none;
  background: white;
}

/* BUTTON */
.primary-btn {
  width: 100%;
  padding: 10px;
  background: #df761a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #ff7a59;
}

/* LOGIN TEXT */
.login-text {
  margin-top: 15px;
  text-align: center;
  color: #666;
}

.login-text a {
  color: #ff7a59;;
  font-weight: 600;
  text-decoration: none;
}

/* OTP */
.otp-text {
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  color: #444;
}

.right-side-image {
  width: 145px;
  display: block;
  margin: 0 auto 2px auto;
}
